module.exports = [
  {
    name: 'test-site',
    path: '/home/server/test-site/',
    actions: [
      {
        key: 'action',
        value: 'push',
        commands: ['git pull origin master', 'yarn install', 'npm run build', 'npm run restart']
      }
    ]
  }
]
